---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout
  title="Sobre Mim"
  description="Saiba um pouco mais sobre mim!"
  pubDate={new Date("Januray 18 2025")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Meu nome é João Victor e eu sou um desenvolvedor web que ama tudo sobre
    design e programação. Meu objetivo principal como profissional é desenvolver
    boas experiências através do desenvolviment web.
  </p>

  <p>
    Eu comecei a trabalhar com desenvolvimento web em Fevereiro de 2023, mas
    minha história com programação começa em 2021 com Java sendo minha primeira
    linguagem. Eu sou brasileiro, vivendo em uma cidade pequena chamada
    Tapejara. Estou fazendo este website principalmente em inglês pois isso faz
    parte da minha prátrica com a língua, por isso os posts estarão sendo
    disponibilizados primeiramente em inglês e posteriormente traduzidos para
    português.
  </p>

  <p>
    A maior parte da minha experiência é com desenvolviment front-end, mas eu
    também gosto de desenvolvimento back-end e estarei provavelmente publicando
    posts sobre back-end também. Eu já explorei algumas linguagens como Golang,
    Rust, Java e C++.
  </p>

  <p>
    Meu interesse principal para estudo e projetos pessoais é em JavaScript
    tanto para front- quando para back-end com frameworks tipo Nextjs e Nestjs,
    Golang, Java, LUA, C++. Então você pode esperar ver posts sobre essas e
    outras linguages e frameworks no futuro.
  </p>
</Layout>
