---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Get to know more about me!"
  pubDate={new Date("Januray 18 2025")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    My name is João Victor and I'm a web developer who loves everything about
    design and programming. My main goal as professional is to develop
    unforgettable experiences through web development.
  </p>

  <p>
    I have been working with web development since February 2023, but my story
    with programming starts in 2021 with Java being my first language. I'm
    brazilian, livin in a small city called Tapejara. I am making this website
    primarily in english because this is part of my practice on the language.
  </p>

  <p>
    Most of my experience is with front end development, but I do like back end
    development and I will probrably be publishing posts about back end too. I
    have already explored some languages like Golang, Rust, Java and C++.
  </p>

  <p>
    My main interests for personal study and personal projects are in JavaScript
    for both front and back end with frameworks like Nextjs and Nestjs, Golang,
    Java, LUA, C++. So you can expect to see posts about these and others
    languages and frameworks in the future.
  </p>
</Layout>
