---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👨‍💻 Hello, world!</h1>
      <p>
        Welcome to my official website. Here I will be publishing posts
        documenting my progression as a developer.
      </p>
      <p>
        This website is built with the <a
          href="https://astro.build/"
          target="_blank">Astro</a
        > framework using the blog template.
      </p>
      <p>
        If you want to know me you can access the <a href="/about">about</a> page.
        Or access the <a href="/blog">blog</a> page where I will be publishing posts
        about:
      </p>
      <ul>
        <li>Notes about my work as a web developer.</li>
        <li>Notes about my personal projects in programming.</li>
        <li>Posts about programming and software engineering.</li>
        <li>Tech stuff in general.</li>
      </ul>
      <p>
        If you want to you can contact me in any of the social medias listed
        above or through my personal email jaodisc@gmail.com
      </p>
      <p>
        I really hope you find any of my posts useful, if you have any tips or
        comments about any of the contents on this website feel free to contact
        me.
      </p>
    </main>
    <Footer />
  </body>
</html>
